li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

li input {
  margin-right: 50px;
}

.delete-button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgba(169, 38, 5);
  color: #fff;
}
