* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Architects Daughter", "Indie Flower", sans-serif;
}

body {
  background-image: url("assets/background-72250_1280.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}
